<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Find Restaurant - Solo</title>
</head>

<body>
    <main>
        <div>
            <div>
                <h4>Find Restaurant - Just for you!</h4>
                <div className="find_restaurant_solo_card_body">

                    <form>
                        <!-- City Location -->
                        <p>Where would you like to look for restaurants?</p>
                        <input className="form-input" placeholder="Location" name="location" type="location" />
                        <br></br>

                        <!-- Cuisine Question -->
                        <p>What type of cuisine would you like to eat?</p>
                        <input className="" placeholder="Cuisine" name="cuisine" type="text" />
                        <br></br>

                        <!-- Pricing Question -->
                        <p>What would you like to spend?</p>
                        <input className="form-input" placeholder="Meal Budget" name="budget" type="text" />
                        <br></br>

                        <!-- Ratings Question -->
                        <p>Minimum Restaurant Rating?</p>
                        <input className="form-input" placeholder="Select Rating" name="rating" type="text" />
                        <br></br>
                        <button className="find_restaurant_button" type="submit">
                            Find Restaurant
                        </button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>