.add_friend_invite{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.button_invite_friend{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}