.add_friend_invite{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.button_invite_friend{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.text_invite{
    color: var(--color2);
    text-align: center;
    margin: 10px;
}
button {
    color: var(--color4);
    background-color: var(--color3);
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    border: none;
    box-shadow: 0 0 2px black;
}
button:hover {
    background-color: var(--color2);
    color: var(--color4)
}