.sign_up_card_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.sign_up_button{
    background-color: var(--color2);
    color: var(--color4);
    width: 140px;
    padding: 8px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px black;
    display: flex;
    justify-content: center;
}

.sign_up_button:hover{
    background-color: var(--color3);
    color: var(--color4)
}
 
.signupText{
    font-Weight:600px;
    text-Align:center;
    font-Size:20px
}
 
.CardActions{
    justify-content: center;
}
