.main_profile{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 100px 0 100px;
}

.logged_out_error {
    display: flex;
    justify-content: center;
    margin: 0 100px 0 100px;
}








@media only screen and (max-width: 800px) {
    .main_profile{
        width: 155%;
        margin-left: -28%;
    }
}

@media only screen and (max-width: 750px) {
    
}

@media only screen and (max-width: 690px) {
    
}

@media only screen and (max-width: 655px) {
    
}

@media only screen and (max-width: 625px) {

    
}

@media only screen and (max-width: 590px) {
    
}

@media only screen and (max-width: 550px) {
   
}

@media only screen and (max-width: 520px) {
   
}

@media only screen and (max-width: 485px) {
    
}

@media only screen and (max-width: 460px) {
   
}

@media only screen and (max-width: 435px) {
    
}

@media only screen and (max-width: 407px) {
    
}

@media only screen and (max-width: 395px) {
    
}

@media only screen and (max-width: 380px) {
    
}

@media only screen and (max-width: 368px) {
    
}

@media only screen and (max-width: 355px) {
    
}

@media only screen and (max-width: 335px) {
    
}

@media only screen and (max-width: 315px) {
    
}
@media only screen and (max-width: 301px) {
    
}
@media only screen and (max-width: 283px) {
    
}

@media only screen and (max-width: 250px) {
    
}

@media only screen and (max-width: 224px) {
    
}

@media only screen and (max-width: 220px) {
    
}